<!doctype html>
<title>Grabfile</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<head>
	<link REL="SHORTCUT ICON" HREF="/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta property="og:title" content="grabfile: Easy file sharing"/>
	<meta property="og:description" content="Easy file sharing for everyone"/>
	<meta property="og:url" content="http://something.org/"/>
	<meta property="og:locale" content="en_US"/>
	<link rel="stylesheet" href="/static/style.css" type="text/css" charset="utf-8"/>
</head>
<div class="container">
<div id="header">
	<div class="wrapper">
	<div id="logo">
		<a href="http://localhost:5000/">
        <img src="/static/grabfile_logo_64.png" alt="grabfile logo" title="grabfile"/>
			<img src="/static/grabfile_name_white_64.png" alt="grabfile logo" title="grabfile"/>
		</a>
	</div>
	<div id="menu">
		<ul class="navigation">
			<li><a href="/">Home</a></li>
			<li><a href="{{ url_for('upload') }}">Upload</a></li>
			<li><a href="{{ url_for('about') }}">About</a></li>
			{% if session['admin'] %}
				<li><a href="{{ url_for('manage_users') }}">Admin</a></li>
			{% endif %}
			{% if session['logged_in'] %}
			<li><a href="{{ url_for('logout') }}">Logout ({{session['username']}})</a></li>
			{% else %}
				<li><a href="{{ url_for('login') }}">Login</a></li>
			{% endif %}
		</ul>
	</div>
	</div> <!-- end of wrapper -->
</div> <!-- end of header -->

<div id="content">
	<!-- global wrapper -->
	<div class="wrapper">
	    <div style="clear: both;"></div>	
		<div class="panel" id="panel-aboutus">
		  <h2>{{title}}</h2>
		<p>{% block admin_header %}{% endblock %}</p>
		<p>{% block content %}{% endblock %}</p>
    		<div style="clear: both;"></div>	
		</div>
	</div> <!-- end of wrapper -->
</div> <!-- end of content -->

<div id="footer">
	<div class="wrapper">
		<div class="col1">
			<p>
				<a href="http://code.google.com/p/grabfile/">Project home</a>
			</p>
			<p>
				<a href="http://code.google.com/p/grabfile/issues/list">Report a bug</a>
			</p>
		</div>
		<div class="col2">
			<p>
				<a href="mailto:alankeister@gmail.com">Contact</a>
			</p>
		</div>
	</div>
	<div style="clear: both;"></div>
</div>
</div> <!-- end of container -->
</html>

