{% extends "layout.html" %}
{{ super() }}
{% block content %}
	<p><h2>
	<img src="/static/favicon.png" height="24" width="24"/>
	I want to upload a file for someone to download.</h2>
	</p>
	<div class="indentedtext">
	<form enctype="multipart/form-data" action="/complete_upload" method="POST">
		<h3>Step 1: Choose File</h3><input name="file" type="file" size=60>
		<br>
		<h3>Step 2: Click Upload</h3><input value="Upload" type="submit" size=60>
		</form>
	</div>
	<p><h2>
	<img src="/static/favicon.png" height="24" width="24"/>
	I want someone to upload a file for me to download.</h2>
	<form action="{{url_for('generate_upload_link') }}">
		<input type=submit name="generate" value="Generate Upload Link"> 
	</form>

	</p>
	<br>
{% endblock %}

