{% extends "layout.html" %}
{{ super() }}
{% block content %}
{% if error %}
	<h1>Upload failed</h1>
{% else %}
	<h1>Step 3: Copy the text below and send it to a friend.</h1>
	<br>
<center>
<table bgcolor="#FFFFFF">
<tr>
<td>
Please use the link below to upload a file to me.  When the upload is complete, I will be notified the file is available.  Thanks!</a><br>
	<h3><A href="{{ upload_url }}">{{ upload_url }}</A></h3><br>
</td>
</tr>
</table>
</center>
{% endif %}
{% endblock %}

